.navbar .banner {
  display: block;
  float: centre;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

div#error {
  text-align: center;
}
