<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>buzme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/buzme.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

 <div class="container-fluid">
 <div class="row-fluid">
  <div class="hero-unit">
  <div class="logoXLarge">buzme</div>
   <p>A Simpler way to Manage your Patrons </p>
   <br><br><br>
   <div id="loginform"> <form action="/" method=POST>
        {% csrf_token %}
        <div class="input-prepend">
         <span class="add-on"><i class="icon-user"></i></span><input type="text" name="username" placeholder="username"> 
        </div>
        <div class="input-prepend">
         <span class="add-on"><i class="icon-asterisk"></i></span><input type="password" name="password" placeholder="password"> 
        </div>
    <input type="hidden" id="gmtoffsetid" name="gmtoffset"> 
    <label class="checkbox"> <input type="checkbox" name="remember"> Remember Me </label>
    <div> <button type="submit" class="btn btn-info" >Login</button></div>
    <a class="forgotPassword">Forgot Password?</a>
    <div></div>
    <a class="forgotPassword" onclick="$('#loginform').hide(); $('#signupform').show()">Sign Up</a>
   </form> </div>
    <div id="signupform" style="display: none"> <form action="signup/" method=POST>
       {% csrf_token %}
       {{ signupFormObj.non_field_errors }}
       {% for field in signupFormObj %}
         <!---- {{ field.errors }} ---->
          <div class="input-prepend">
           <span class="add-on"><i class="{{field.label}}"></i></span>{{field}}
        </div>
       {% endfor %}
    <div class="btn" onclick="$('#signupform').hide(); $('#loginform').show()">Cancel</div>
    <button type="submit" class="btn btn-info" >Sign Up</button>
   </form> </div>
   
    {% if failure_message %}
      <p>{{ failure_message }}</p>
    {% endif %}
	
   </div>
  </div>
  </div>
 </div> 
    
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var myDate = new Date();
    $("input[id=gmtoffsetid]").val(myDate.getTimezoneOffset());
//code goes here
});
</script>

  </body>
</html>
