<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>buzme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/buzme.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="logoSmall">buzme</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ admin.nick }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/signout/">Sign Out</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="active"><a href="#">Queue</a></li>	      
            </ul>
	  </div><!--/.nav-collapse -->
	  <a class="brand">{{restaurant.name}}</a>
        </div>
      </div>
    </div>

      <div class="container-fluid">
      <div class="row-fluid">

        <div class="span3">

<form class="well form-vertical" action="/customers/create_in_waitlist/{{ waitlist.id }}/" method="post">
  <fieldset>
    <legend>Add Patron</legend>
    <div class="control-group">
      <div class="controls"> 
        <div class="input-prepend">
         <span class="add-on"><i class="icon-user"></i></span><input type="text" id="input01" placeholder="patron name" name="name"> 
       </div>
      </div>
      <div class="controls"> 
        <div class="input-prepend">
         <span class="add-on"><i class="icon-iphone"></i></span><input type="text" id="input02" placeholder="phone" name="phone"> 
       </div>
      </div>
      <div class="controls"> 
        <div class="input-prepend">
         <span class="add-on"><i class="icon-envelope"></i></span><input type="text" placeholder="email"> 
        </div>
      </div>
      <div class="controls"> 
        <div class="input-prepend">
         <span class="add-on"><i class="icon-group"></i></span><input type="text" id="input04" placeholder="group size" name="party_size"> 
        </div>
      </div>
    </div>
  </fieldset>
	{% csrf_token %}
    <div class="btn-group">
    <div class="pull-right">
      <button type="submit" class="btn btn-info btn-large pull-right">Add</button>
    </div>
    <div class="pull-left">
      <button type="reset" class="btn btn-large">Clear</button>
    </div>
  </div>
</form>

        </div>

        <div class="span6">
         <div class="well well-gray">
         <CENTER> <legend> {{ restaurant_name }} Queue </legend> </CENTER>
         <div class="btn-group" data-toggle="buttons-checkbox">
           <button 
             id="btnsummon" class="btn" 
             onclick="$('#rstrntQ tr').find('td:nth-child(4):contains(Summoned)').parent().toggle();">
             hide summoned
           </button>
           <button 
             id="btnremoved" class="btn" 
             onclick="$('#rstrntQ tr').find('td:nth-child(4):contains(Removed)').parent().toggle();">
             hide removed
           </button>
           <button 
             id="btnwaiting" class="btn" 
             onclick="$('#rstrntQ tr').find('td:nth-child(4):contains(Waiting)').parent().toggle();">
             hide waiting
           </button>
           <button 
             id="btncheckedin" class="btn" 
             onclick="$('#rstrntQ tr').find('td:nth-child(4):contains(CheckedIn)').parent().toggle();">
             hide checked in
           </button>
         </div>
         <br>
         <table id="rstrntQ" class="table table-condensed table-striped" width="100%">
             <th> patron </th>
             <th> party of </th>
             <th> waiting for </th>
             <th> status </th>
           {% for customer in waitlist.customers.all|dictsort:"status" %}
             <tr>
               <td>{{customer.name}}</td>
               <td>{{customer.party_size}}</td>
               <td>TBD</td>
               <td> 
                <div class="btn-group">
                  <a data-toggle="dropdown" 
                   {% if customer.get_status_display == "Summoned" %}
                    class="btn btn-warning dropdown-toggle"
                   {% elif customer.get_status_display == "Removed" %}
                    class="btn btn-danger dropdown-toggle"
                   {% elif customer.get_status_display == "Waiting" %}
                    class="btn btn-info dropdown-toggle"
                   {% elif customer.get_status_display == "CheckedIn" %}
                    class="btn btn-success dropdown-toggle"
                   {% endif %}
                   >
                    {{customer.get_status_display}}
                   <span class="caret"></span> </a>
                  <ul class="dropdown-menu">
                   <li><a href="/customer/{{ customer.id }}/summon"><span class="icon-bell"></span> Summon</li>
                   <li><a href="/customer/{{ customer.id }}/checkin"><span class="icon-ok"></span> Check In</li>
                   <li><a href="/customer/{{ customer.id }}/remove"><span class="icon-trash"></span> Remove </a></li>
                 </ul>
                </div>
               </td>
               </div>
             </tr>
           {% endfor %}
         </table>
        </div>
        </div>


        <div class="span3">
         <div class="well">
         <legend> Recent Activities </legend>
         <div id="recentActivities"> </div>
           {% for act in restaurant.activities.all|dictsortreversed:"id" %}
             <div class="muted"> {{ act.activity }} </div>
           {% endfor %}
         </div>
        </div>
     </div> 
    

      <hr>

      <footer>
        <p>&copy; buzme 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
//code goes here
});
</script>

  </body>
</html>
