<head>
	<title> Restaurant Name </title>
</head>

<body>

<div class="btn">
      <input type="submit" value="View Waiting">
      <input type="submit" value="View Notified">
      <input type="submit" value="View All">
<div>

<table border="1">
  <tr>
    <th> Customer Name </th>
    <th> Group Size </th>
    <th> Phone Number </th>
<!--      <th> Wait Time <th> -->
    <th> Status </th>
  </tr>
  {% for customer in waitlist.customers.all %}
    <tr>
      <td>{{customer.name}}</td>
      <td>{{customer.party_size}}</td>
      <td>{{customer.phone}}</td>
<!--        <td>{#customer.wait_time}}</td> -->
      <td>{{customer.get_status_display}}</td>
      <td><form method="get" action="/customer/{{ customer.id }}/summon">
        <input type="submit" value="Notify"></form></td>
      <td><form method="get" action="/customer/{{ customer.id }}/remove">
        <input type="submit" value="Remove"></form></td>
    </tr>
  {% endfor %}
</table>

<form action="/customers/create_in_waitlist/{{ waitlist.id }}/" method="post">
	<p>Name:<input type="text" name="name"></p>
	<p>Party Size:<input type="text" name="party_size"></p>
	<p>Phone Number:<input type="text" name="phone"></p>
<!--  	<p>Email:<input type="text" name="email"></p>  -->
	{% csrf_token %}
    <input type="submit" value="Add">
    <button>Clear</button>
</form>

</body>
</html>

